{{home}}

<form method="post" enctype="multipart/form-data" action="/api/profile">
  <div class="input-group mb-3">
    <input
      type="file"
      class="form-control"
      id="inputGroupFile02"
      name="upfile"
    />
    <label class="input-group-text" for="inputGroupFile02">Upload</label>
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>